/*
 * This is common CSS for all themes
 * This file MUST be imported FIRST
 */

 /* ----------------------------------------
  * Base palette
  */
@COLOR_AMBER: #f1a30b;
@COLOR_BLACK: #000000;
@COLOR_BLUE: #1ba1e2;
@COLOR_BROWN: #a05000;
@COLOR_COBALT: #0050ef;
@COLOR_CRIMSON: #a20025;
@COLOR_CYAN: #1ba0e1;
@COLOR_MAGENTA: #d80073;
@COLOR_LIME: #a2c139;
@COLOR_INDIGO: #6a00ff;
@COLOR_GREEN: #339933;
@COLOR_EMERALD: #008a00;
@COLOR_MANGO: #f09609;
@COLOR_MAUVE: #765f89;
@COLOR_OLIVE: #6d8764;
@COLOR_ORANGE: #fa6801;
@COLOR_PINK: #e671b8;
@COLOR_RED: #e51400;
@COLOR_SIENNA: #7b3a3e;
@COLOR_STEEL: #657688;
@COLOR_TEAL: #00aba9;
@COLOR_VIOLET: #a200ff;
@COLOR_YELLOW: #d8c101;
@COLOR_WHITE: #ffffff;
@COLOR_WHITE_TRANSPARENT: rgba(255, 255, 255, 0.5);

@COLOR_CLOUDSYSTEM_DISABLED: #b6b6b6;
@COLOR_CLOUDSYSTEM_GRAY_LIGHT: #e0dfdf;
@COLOR_CLOUDSYSTEM_GRAY: #d4d2d2;
@COLOR_CLOUDSYSTEM_GRAY_DARK: #5c5c5c;
@COLOR_CLOUDSYSTEM_GRAY_INK: #c6c6c6;
@COLOR_CLOUDSYSTEM_BLUE: #42708d;
@COLOR_CLOUDSYSTEM_BLUE_TRANSPARENT: rgba(66, 112, 141, 0.10);
@COLOR_CLOUDSYSTEM_GREEN: #c0cf74;
@COLOR_CLOUDSYSTEM_GREEN_TRANSPARENT: rgba(192, 207, 116, 0.20);


.color-background-cloudsystem-blue {
    background-color: @COLOR_CLOUDSYSTEM_BLUE;
}

.color-background-cloudsystem-green {
    background-color: @COLOR_CLOUDSYSTEM_GREEN;
}

.color-background-amber {
    background-color: @COLOR_AMBER;
}

.color-background-black {
    background-color: @COLOR_BLACK;
}

.color-background-blue {
    background-color: @COLOR_BLUE;
}

.color-background-brown {
    background-color: @COLOR_BROWN;
}

.color-background-cobalt {
    background-color: @COLOR_COBALT;
}

.color-background-crimson {
    background-color: @COLOR_CRIMSON;
}

.color-background-cyan {
    background-color: @COLOR_CYAN;
}

.color-background-magenta {
    background-color: @COLOR_MAGENTA;
}

.color-background-lime {
    background-color: @COLOR_LIME;
}

.color-background-indigo {
    background-color: @COLOR_INDIGO;
}

.color-background-green {
    background-color: @COLOR_GREEN;
}

.color-background-emerald {
    background-color: @COLOR_EMERALD;
}

.color-background-mango {
    background-color: @COLOR_MANGO;
}

.color-background-mauve {
    background-color: @COLOR_MAUVE;
}

.color-background-olive {
    background-color: @COLOR_OLIVE;
}

.color-background-orange {
    background-color: @COLOR_ORANGE;
}

.color-background-pink {
    background-color: @COLOR_PINK;
}

.color-background-red {
    background-color: @COLOR_RED;
}

.color-background-sienna {
    background-color: @COLOR_SIENNA;
}

.color-background-steel {
    background-color: @COLOR_STEEL;
}

.color-background-teal {
    background-color: @COLOR_TEAL;
}

.color-background-violet {
    background-color: @COLOR_VIOLET;
}

.color-background-yellow {
    background-color: @COLOR_YELLOW;
}

.color-background-white {
    background-color: @COLOR_WHITE;
}

.color-text-cloudsystem-blue {
    color: @COLOR_CLOUDSYSTEM_BLUE;
}

.color-text-cloudsystem-green {
    color: @COLOR_CLOUDSYSTEM_GREEN;
}

.color-text-amber {
    color: @COLOR_AMBER;
}

.color-text-black {
    color: @COLOR_BLACK;
}

.color-text-blue {
    color: @COLOR_BLUE;
}

.color-text-brown {
    color: @COLOR_BROWN;
}

.color-text-cobalt {
    color: @COLOR_COBALT;
}

.color-text-crimson {
    color: @COLOR_CRIMSON;
}

.color-text-cyan {
    color: @COLOR_CYAN;
}

.color-text-magenta {
    color: @COLOR_MAGENTA;
}

.color-text-lime {
    color: @COLOR_LIME;
}

.color-text-indigo {
    color: @COLOR_INDIGO;
}

.color-text-green {
    color: @COLOR_GREEN;
}

.color-text-emerald {
    color: @COLOR_EMERALD;
}

.color-text-mango {
    color: @COLOR_MANGO;
}

.color-text-mauve {
    color: @COLOR_MAUVE;
}

.color-text-olive {
    color: @COLOR_OLIVE;
}

.color-text-orange {
    color: @COLOR_ORANGE;
}

.color-text-pink {
    color: @COLOR_PINK;
}

.color-text-red {
    color: @COLOR_RED;
}

.color-text-sienna {
    color: @COLOR_SIENNA;
}

.color-text-steel {
    color: @COLOR_STEEL;
}

.color-text-teal {
    color: @COLOR_TEAL;
}

.color-text-violet {
    color: @COLOR_VIOLET;
}

.color-text-yellow {
    color: @COLOR_YELLOW;
}

.color-text-white {
    color: @COLOR_WHITE;
}

.text-status-ok {
    color: #c0cf74 !important;
}

.text-status-warning {
    color: #f38f32 !important;
}

.text-status-critical {
    color: #e2001a !important;
}

.text-status-down {
    color: #535353 !important;
}

.text-status-unknown {
    color: #333388 !important;
}

/* ----------------------------------------
 * Common styles
 */
.text-tiny {
    font-size: 8px;
}

.widget-title-background-watermark {
    background-image: url(/images/Scalair-watermark-h24.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}


.blink-fast {
    -webkit-animation-name: blink-basic;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blink-basic;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blink-basic;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.blink-basic {
    -webkit-animation-name: blink-basic;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blink-basic;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blink-basic;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-webkit-keyframes blink-basic {
    20% {
        opacity: 0.25;
    }
	50% {
        opacity: 1;
    }
}

@-moz-keyframes blink-basic {
    20% {
        opacity: 0.25;
    }
	50% {
        opacity: 1;
    }
}

@keyframes blink-basic {
    20% {
        opacity: 0.25;
    }
	50% {
        opacity: 1;
    }
}

label.required:before, span.required:before {
    content: "\00A0\2022";
    margin-left: 0;
    margin-right: 4px;
    font-size: 150%;
}

tr.bbGrid-row.selected {
    border-left: 8px solid @COLOR_CLOUDSYSTEM_GREEN !important;
    border-right: 8px solid @COLOR_CLOUDSYSTEM_GREEN !important;
}

.handsontable .wtHider {
    height: 100% !important; // override handsontable fixed size
//     width: 100%;
//     overflow: hidden;
}

/*
 * Tree view
 */
 .tree, .tree ul {
     margin:0;
     padding:0;
     list-style:none
 }
 .tree ul {
     margin-left:1em;
     position:relative
 }
 .tree ul ul {
     margin-left:.5em
 }
 .tree ul:before {
     content:"";
     display:block;
     width:0;
     position:absolute;
     top:0;
     bottom:0;
     left:0;
     border-left:1px solid
 }
 .tree li {
     margin:0;
     padding:0 1em;
     line-height:2em;
     color: @COLOR_CLOUDSYSTEM_GREEN;
     font-weight:700;
     position:relative
 }
 .tree ul li:before {
     content:"";
     display:block;
     width:10px;
     height:0;
     border-top:1px solid;
     margin-top:-1px;
     position:absolute;
     top:1em;
     left:0
 }
 .tree ul li:last-child:before {
     background:#fff;
     height:auto;
     top:1em;
     bottom:0
 }
 .indicator {
     margin-right:5px;
 }
 .tree li a {
     text-decoration: none;
     color:#369;
 }
 .tree li button, .tree li button:active, .tree li button:focus {
     text-decoration: none;
     color: @COLOR_CLOUDSYSTEM_GREEN;
     border:none;
     background:transparent;
     margin:0px 0px 0px 0px;
     padding:0px 0px 0px 0px;
     outline: 0;
 }
