/* ----------------------------------------
 * CloudSystem® palette
 */

@import '../common4all.less';

@COLOR_CLOUDSYSTEM_DISABLED: #777777;
@COLOR_CLOUDSYSTEM_GRAY_DARK: #333333;

@COLOR_CLOUDSYSTEM_TILE_BACKGROUND: @COLOR_CLOUDSYSTEM_GRAY_DARK;
@COLOR_CLOUDSYSTEM_TILE_FOREGROUND: lighten(@COLOR_CLOUDSYSTEM_GRAY_INK, 25%);
@COLOR_CLOUDSYSTEM_TILE_BORDER: @COLOR_CLOUDSYSTEM_BLUE;

@COLOR_CLOUDSYSTEM_TABS_BACKGROUND: @COLOR_CLOUDSYSTEM_GRAY_DARK;
@COLOR_CLOUDSYSTEM_TABS_BACKGROUND_SELECTED: @COLOR_CLOUDSYSTEM_GREEN;
@COLOR_CLOUDSYSTEM_TABS_FOREGROUND: @COLOR_CLOUDSYSTEM_GRAY_INK;
@COLOR_CLOUDSYSTEM_TABS_BORDER_SELECTED: @COLOR_CLOUDSYSTEM_GREEN_TRANSPARENT;

@COLOR_HEADER_BACKGROUND: @COLOR_CLOUDSYSTEM_GRAY_DARK;
@COLOR_HEADER_FOREGROUND: @COLOR_CLOUDSYSTEM_GRAY_LIGHT;
@COLOR_HEADER_BUTTONS: @COLOR_HEADER_FOREGROUND;

@COLOR_BODY_BACKGROUND: darken(@COLOR_CLOUDSYSTEM_GRAY_DARK, 20%);
@COLOR_BODY_FOREGROUND: @COLOR_CLOUDSYSTEM_GRAY_INK;

@COLOR_SCROLLBAR_DRAGGER: @COLOR_CLOUDSYSTEM_TILE_BACKGROUND;

@COLOR_TABLE_BORDER: @COLOR_CLOUDSYSTEM_GRAY;

@COLOR_LEVEL_VERY_HIGH: #fd373d;
@COLOR_LEVEL_HIGH: #ff9038;
@COLOR_LEVEL_NORMAL: #27B578;
@COLOR_LEVEL_LOW: #000000;
@COLOR_LEVEL_VERY_LOW: #000000;
@COLOR_LEVEL_SPECIAL: #FFCD38;

@COLOR_ADJACENT_DAY: #99b8d5;
